* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 12.2vh;
  background-color: #007894;
  color: white;
  display: flex;
  justify-content: center;
}
header img {
  height: 12.2vh;
  width: 25rem;
}
header a {
  color: white;
  text-decoration: none;
  padding: 1.8rem 2rem;
}
.a__turnos {
  background-color: white;
  color: #007894;
  
}
.img__turnos {
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
}

.img__candado {
  width: 10.7rem;
  height: 7.9rem;



  background-image: url(https://www.bna.com.ar/Images/icon_candado_nuevo.png);
  background-repeat: no-repeat;
  background-position:right;
  text-align:left;
  
  
}
.activo {
  background-color: #036b84;

  height: 12.2vh;
}

#carouselExampleAutoplaying {
  height: 47.2vh;
}
/* .carousel-inner{
    height: 50vh;
   
} */
/* .active{
    height: 47.2vh;
}  */
.carrusel1 {
  width: 40rem;
  
}
.container1 {
  height: 50vh;
  display: flex;
  
  
}
