* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 12.2vh;
  background-color: #007894;
  color: white;
  display: flex;
  justify-content: center;
}
header img {
  height: 12.2vh;
  width: 25rem;
}
header a {
  color: white;
  text-decoration: none;
  padding: 1.8rem 2rem;
}
.a__turnos {
  background-color: white;
  color: #007894;
  
}
.img__turnos {
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
}

.img__candado {
  width: 10.7rem;
  height: 7.9rem;



  background-image: url(https://www.bna.com.ar/Images/icon_candado_nuevo.png);
  background-repeat: no-repeat;
  background-position:right;
  text-align:left;
  
  
}
.activo {
  background-color: #036b84;

  height: 12.2vh;
}

#carouselExampleAutoplaying {
  height: 47.2vh;
}
/* .carousel-inner{
    height: 50vh;
   
} */
/* .active{
    height: 47.2vh;
}  */
.carrusel1 {
  width: 40rem;
  
}
.container1 {
  height: 50vh;
  display: flex;
  
  
}
.main__accounts{
 border: 1px solid red;
 height: 80vh;
 width: 100%;
  background-image: url(./assets/background_cuentas.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.pre__footer{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  padding: 1rem;
}


.pre__footer div a{
  text-decoration: none;
  color: black;
}
.pre__footer div img{
  width: 35px;
}
footer{
  min-height: 100vh;
  
  background: rgb(9,73,121);
background: linear-gradient(90deg, rgba(9,73,121,1) 0%, rgba(0,159,255,1) 100%);
  color:white;
  
}
footer .footer__top{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer img{
  width: 15rem;
  
  
}
footer div{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  

}
footer>div>div{
  display:flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: flex-start;
 
}
footer>div>div>div{
  width: 16rem;
  font-size: .7rem;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}
footer div div div a{
  text-decoration: none;
  color: white;
  display: flex;
  gap: 0;
  height: 1rem;
}
footer div div div h5{
  text-decoration:underline;

}

